<!DOCTYPE html>

{% extends "layout.html" %}
{% block content %}
<hr>
{% for topic in chains %}
<i>Topic: </i>{{ topic[0] }}
<p>
<i>User:</i> {{ topic[1] }}
<p>
<i>Category:</i> {{ topic[2] }}
<p>
<i>Time sent:</i> {{ topic[3].strftime("%Y-%m-%d %H:%M:%S") }}
<p>
<a href="/chains/{{topic[4]}}">Go to chain</a>
<hr>
{% endfor %}
{% if username != 0 %}
You are logged in as {{ username }}
<a href="/new-topic">Create a topic</a> | <a href="/logout">Log out</a>
{% else %}
<a href="/login">Login</a>
{% endif %}
{% endblock %}