<!DOCTYPE html>

{% extends "layout.html" %}
{% block navigation %}
<nav>
<ul>
<li><a href="/">Front page</a></li>
<li><a href="/logout">Log out</a></li>
<li><a href="/new-topic">Create a topic</a></li>
<li><a href="/new-category">Categories</a></li>
</ul>
</nav>
<hr>
{% endblock %}
{% block content %}
<hr>
{% for topic in chains %}
<div class="messages">
<i>Topic: </i><b>{{ topic[0] }}</b>
<p>
<i>User:</i> {{ topic[1] }}
<p>
<i>Category:</i> {{ topic[2] }}
<p>
<i>Time sent:</i> {{ topic[3].strftime("%Y-%m-%d %H:%M:%S") }}
<p>
<a href="/chains/{{topic[4]}}">Go to chain</a>
</div>
<hr>
{% endfor %}
{% if username != 0 %}
<div class="info">
You are logged in as {{ username }}
</div>
<nav>
<ul>
<li><a href="/new-topic">Create a topic</a></li> 
<li><a href="/logout">Log out</a></li>
</ul>
</nav>
{% else %}
<a href="/login">Login</a>
{% endif %}
{% endblock %}