<!DOCTYPE html>

{% extends "layout.html" %}
{% block title %}{% endblock %}
{%block nav %}{% endblock %}
{% block content %}
<form action="/login" method="post">
<label for="username">Username: </label>
<input type="text" name="username" value="{{ username }}">
<p>
<label for="password">Password: </label>
<input type="password" name="password">
<p>
<input type="submit" value="Login">
</form>
{% if error %}
Error: {{ error }}
{% endif %}
<br>
If you have not created a user, you can register <a href="/register">here</a>
{% endblock %}