<!DOCTYPE html>

{% extends "layout.html" %}
<hr>
{% block content %}
<form class="message_form" action="/send-topic" method="post">
Content: 
<br>
<textarea name="content" rows="4" cols="50">{{ content }}</textarea>
<br>
Category:
<br>
<textarea name="category" rows="1" cols="50">{{ category }}</textarea>
<br>
<input type="submit" value="Send">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
{% if error %}
<div class="info">
Error: {{ error }}
</div>
{% endif %}
</form>
<nav>
<ul>
<li><a href="/">Return to chains</a></li>
</ul>
</nav>
</div>
{% endblock %}