<!DOCTYPE html>

{% extends "layout.html" %}
{% block navigation %}
<nav>
<ul>
<li><a href="/" class="nav_link">Front page</a></li>
<li><a href="/logout" class="nav_link">Log out</a></li>
<li><a href="/new-category" class="nav_link">Create category</a></li>
</ul>
</nav>
<hr>
{% endblock %}
<hr>
{% block content %}
<form class="message_form" action="/send-topic" method="post">
Content: 
<br>
<textarea name="content" rows="4" cols="50">{{ content }}</textarea>
<br>
Category:
<br>
<select name="category" class="category_select">
{% for category in existing_categories %}
<option value="{{ category[0] }}">{{ category[0] }}</option>
{% endfor %}
</select>
<br>
<input type="submit" value="Send">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
{% if error %}
<div class="info">
Error: {{ error }}
</div>
{% endif %}
{% if category_length == 0 %}
<div class="info">
First you need to create a category. You can create a category <a href="/new-category">here</a>
</div>
{% endif %}
</form>
<nav>
<ul>
<li><a href="/">Return to chains</a></li>
</ul>
</nav>
</div>
{% endblock %}