{% extends "layout.html" %}
{% block content %}
{% block nav %}{% endblock %}
<form action="register" method="post">
<label for="username">Username: </label>
<input type="text" name="username" value="{{ username }}">
<p>
<label for="password1">Password: </label>
<input type="password" name="password1">
<p>
<label for="password2">Retype password: </label>
<input type="password" name="password2">
<p>
<input type="submit" value="Create user">
</form>
{% if error %}
Error: {{ error }}
{% endif %}
<a href="/">Return to login interface</a>
{% endblock %}