<!DOCTYPE html>

{% extends "layout.html" %}
{% block content %}
{% block navigation %}{% endblock %}
<form class="message_form" action="register" method="post">
<label for="username">Username: </label>
<input type="text" name="username" value="{{ username }}">
<p>
<label for="password1">Password: </label>
<input type="password" name="password1">
<p>
<label for="password2">Retype password: </label>
<input type="password" name="password2">
<p>
<input type="submit" value="Create user">
</form>
<br>
{% if error %}
<div class="info">
Error: {{ error }}
</div>
{% endif %}
<div class="info">
<a href="/">Return to login interface</a>
</div>
{% endblock %}