<!DOCTYPE html>

{% extends "layout.html" %}
{% block nav %}
<a href="/">Front page</a> |
<a href="/logout">Log out</a> |
<a href="/new-message/{{ chain_id }}">Post a message</a>
<hr>
{% endblock %}
{% block content %}
Messages in chain: {{ count }}
<hr>
{% for message in messages %}
<hr>
<i>Message:</i> {{ message[1] }}
<p>
<i>User:</i> {{ message[2] }}
<p>
<i>Likes: </i> {{ message[3] }}
<p>
<form action="/like-message" method="POST">
  <input type="hidden" name="message_id" value="{{ message[0] }}">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  <input type="hidden" name="chain_id" value="{{ chain_id }}">
  <button type="submit">Like</button>
</form>
<hr>
{% endfor %}
<hr>
{% if username != 0 %}
You are logged in as {{ username }}
<a href="/new-message/{{ chain_id }}">Post a message</a> | <a href="/logout">Log out</a> | <a href="/">Return to topics</a>
{% else %}
<a href="/login">Login</a>
{% endif %}
{% endblock %}